#owo-big {
    position: fixed;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px #aaa solid;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    transform: translate(0, -105%);
    overflow: hidden;
    animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
    background-color: #4a4a4a
}

#owo-big img {
    width: 100%;
}

@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0;
    }
    100% {
        transform: translate(0, -105%);
        opacity: 1;
    }
}

/* 为内联代码块添加背景色 */
code {
    /* 你可以根据喜好调整颜色 */
    background-color: #6d73b7e6 !important; /* 浅灰色，经典代码背景色 */

    /* 可选：添加圆角，看起来更现代 */
    border-radius: 3px;
}

/* 小代码块 */
code {
    color: #570573e6 !important; /* 例如粉红色 */
}

/* 链接 */
.container a {
    color: #00b94e;
}

/* 引用块 */
blockquote {
    padding: 7px 10px;
    border-left: 4px solid #ea4c89;
    background-color: #58785a21;
}

/* 标签点 */
#post .tag_share .post-meta__tags {
    border: 1px solid #717582;
}

/* 选中文字颜色 */
*::selection {
    background: #5daab259;
}

/* 加粗文本颜色 */
b, strong {
    color: #e468dbc2;
}