body {
    cursor: url('../img/normal.cur'),
    default;
}

a, link {
    cursor: url('../img/link.cur'),
    default;
}

p, li, pre, code, input, textarea {
    cursor: url('../img/text.cur'),
    default;
}