@font-face {
    font-family: 'myfont';
    font-display: swap;
    src: url('../font/font-zhCN.ttc') format("truetype");
}

@font-face {
    font-family: 'font-en';
    font-display: swap;
    src: url('../font/font-en.ttf') format("truetype");
}
