@font-face {
    font-family: "iconfont"; /* Project id 4748730 */
    /* Color fonts */
    src:
            url('//at.alicdn.com/t/c/font_4748730_fy72n535yj.woff2?t=1756174768734') format('woff2'),
            url('//at.alicdn.com/t/c/font_4748730_fy72n535yj.woff?t=1756174768734') format('woff'),
            url('//at.alicdn.com/t/c/font_4748730_fy72n535yj.ttf?t=1756174768734') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
    content: "\e6a7";
}

.icon-biaoqian:before {
    font-size: 18px;
    content: "\f24b";
}

.icon-wenjianjia:before {
    font-size: 18px;
    content: "\f44a";
}

.icon-a-homezhuyefangzijia:before {
    font-size: 18px;
    content: "\e6ae";
}

.icon-tushu:before {
    content: "\e74d";
}

.icon-guanyuwomen:before {
    content: "\e600";
}

.icon-lianjie:before {
    content: "\e68a";
}

.icon-qita:before {
    content: "\e646";
}

.icon-yinle:before {
    content: "\e60f";
}

.icon-shijian:before {
    content: "\e62d";
}

.icon-QQ:before {
    font-size: 22px;
    content: "\e667";
}

.icon-github:before {
    content: "\e85a";
}
